* {
  background: #E5E5E5;
}

.body {
  height: 100vh;
  max-width: 1000px;
  margin: 50px auto;


}

.header {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.headerli {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  font-family: "TT Firs Neue Medium", serif;

}

.headerli:hover {
  border-bottom: 1px solid blue;
}

ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.inp {
  width: 100%;
  padding: 16px 27px;
  margin: 5px;


  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 15px;
}

.resultli,
.finalizeli {
  position: absolute;
  width: 93px;
  height: 25px;
  left: 76.9px;
  top: 721px;
  list-style: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
}